*.idea
*.pyc
*.pyo
*.iml
*.logs
logs/
*/logs
build/
*/build
target/
*/target
classes/
*/classes
.DS_Store
node_modules/
dependency-reduced-pom.xml
.idea/
target/
*.iml
*.bak
tomcat/
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.mvn
.settings
.springBeans
.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
logs/

