<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.manager.mapper.ext.TbOrderExtMapper">
    <resultMap id="BaseResultMap" type="cn.exrick.manager.pojo.TbOrder">
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="payment" jdbcType="DECIMAL" property="payment"/>
        <result column="payment_type" jdbcType="INTEGER" property="paymentType"/>
        <result column="post_fee" jdbcType="DECIMAL" property="postFee"/>
        <result column="status" jdbcType="INTEGER" property="status" typeHandler="cn.exrick.manager.mapper.handlers.OrderStatusEnumHandler"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="consign_time" jdbcType="TIMESTAMP" property="consignTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="close_time" jdbcType="TIMESTAMP" property="closeTime"/>
        <result column="shipping_name" jdbcType="VARCHAR" property="shippingName"/>
        <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage"/>
        <result column="buyer_nick" jdbcType="VARCHAR" property="buyerNick"/>
        <result column="buyer_comment" jdbcType="BIT" property="buyerComment"/>
    </resultMap>
    <sql id="Base_Column_List_Ext">
        order_id,
        payment,
        payment_type,
        post_fee,
        status,
        create_time,
        update_time,
        payment_time,
        consign_time,
        end_time,
        close_time,
        shipping_name,
        shipping_code,
        user_id,
        buyer_message,
        buyer_nick,
        buyer_comment
    </sql>
    <select id="selectByMulti" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List_Ext"/>
        FROM tb_order
        <where>
            <if test="orderId != null and orderId != ''">
                orderId = #{orderId}
            </if>
            <if test="mid != null and mid !=''">
                and mid like concat('%',#{mid},'%')
            </if>
            <if test="orderStartTime != null and orderEndTime != null">
                <![CDATA[and create_time >= #{orderStartTime} and create_time <= #{orderEndTime} ]]>
            </if>
        </where>
        ORDER BY order_id desc
    </select>
    <select id="selectOrderChart" resultType="cn.exrick.manager.dto.OrderChartData">
        select sum(payment) AS money, DATE(create_time) AS time
        FROM tb_order
        WHERE create_time BETWEEN #{startTime} and #{endTime}
          and status = 4
        GROUP BY time
    </select>
    <select id="selectOrderChartByYear" resultType="cn.exrick.manager.dto.OrderChartData">
        select sum(payment) AS money, MONTH(create_time) AS time
        FROM tb_order
        WHERE YEAR(create_time) = #{year}
          and status = 4
        GROUP BY time
    </select>
</mapper>