<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.exrick.manager.mapper.TbOrderExtMapper">
    <select id="selectByMulti" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_order
        WHERE
        order_id LIKE #{search}
        OR
        payment LIKE #{search}
        OR
        shipping_code LIKE #{search}
        OR
        user_id LIKE #{search}
        OR
        buyer_nick LIKE #{search}
        OR
        create_time LIKE #{search}
        OR
        update_time LIKE #{search}
        OR
        payment_time LIKE #{search}
        OR
        close_time LIKE #{search}
        OR
        end_time LIKE #{search}
        OR
        status LIKE #{search}
        ORDER BY
        ${orderCol}
        ${orderDir}
    </select>
    <select id="selectOrderChart" resultType="cn.exrick.manager.dto.OrderChartData">
        select sum(payment) AS money, DATE(create_time) AS time
        FROM tb_order
        WHERE create_time BETWEEN #{startTime} and #{endTime}
          and status = 4
        GROUP BY time
    </select>
    <select id="selectOrderChartByYear" resultType="cn.exrick.manager.dto.OrderChartData">
        select sum(payment) AS money, MONTH(create_time) AS time
        FROM tb_order
        WHERE YEAR(create_time) = #{year}
          and status = 4
        GROUP BY time
    </select>
</mapper>